<div (click)="viewItem()" [style.background-color]="getColor()" [style.color]="textColor()" id="beaker" class="card wine-view">
    <img class="card-img-top wine-img" src="{{invItem.imageUrl}}"/><br>
    <div class="card-body">{{invItem.name}}<br>
    {{invItem.brand.brand}}<br>
    {{invItem.country.country}}<br>
    {{invItem.year}}<br>
    {{invItem.sub_type.type.name}} - {{invItem.sub_type.subType}}<br>
    ${{invItem.price}} - {{invItem.volume}} mL<br>
    <div *ngIf="isCustomer == true">
        <span class="add" (click)="addToCart($event)">+</span>
        <input class="to-cart" type="number" max=999 min=1 value=1>
    </div>
    <div *ngIf="isCustomer == false">
        <button (click)='editPressed()' class="btn btn-outline-info btn-sm">Edit</button>
        <button (click)='removePressed()' class="btn btn-outline-info btn-sm">Remove</button>
    </div>
    <br>
    </div>
</div>