<div (click)="viewItem()" [style.background-color]="getColor()" [style.color]="textColor()" id="beaker" class="card wine-view">
    <img class="card-img-top wine-img" src="{{invItem.imageUrl}}"/><br>
    <div class="card-body">{{invItem.name}}<br>
    {{invItem.brand.name}}<br>
    {{invItem.country.name}}<br>
    {{invItem.year}}<br>
    {{invItem.subType.type.name}} - {{invItem.subType.name}}<br>
    {{invItem.price | currency}} - {{invItem.volume}} L<br>
    {{invItem.quantity}} available<br>
    <div *ngIf="isCustomer == true">
        <span class="add" (click)="addToCart($event)">+</span>
        <input (click)="endEvent($event)" [(ngModel)]="num" id="add-num" class="to-cart" type="number" max="{{invItem.quantity}}" min=1 value=1>
    </div>
    <div *ngIf="isCustomer == false">
        <br>
        <button (click)='editPressed($event)' class="btn btn-sm">Edit</button>
        <button (click)='removePressed()' class="btn btn-sm">Remove</button>
    </div>
    <br>
    </div>
</div>
