.wine-view {
    display: table-cell;
    width: 250px;
    background-color: #909090;
    margin: 10px auto;
    text-align: center;
    padding: 20px; 
    border-radius: 20px;
}

.row {
    text-align: center;
}