.wine-view {
    display: table-cell;
    text-align: center;
    width: 275px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.row {
    text-align: center;
}

.wine-img {
    margin: 0px auto 20px;
    width: 100%;
    height: 375px;
}

.wine-view:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

.add {
    font-size: 28px;
}

.to-cart {
    width: 35%;
    text-align: center;
}
