<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #660033">
  <a class="navbar-brand" routerLink="">America On Wine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="items">Items
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="retailer/home">Retailer
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="retailer/form">Retailer Form
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="form">Inventory
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <button class="btn btn-outline btn-sm" routerLink="login">Log In</button>&nbsp;
    <button class="btn btn-outline btn-sm" (click)="logout()">Log Out</button>
  </div>
</nav>
