<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img class="logo" src="../../assets/aowlogo.png">&nbsp;America On Wine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="items">Items
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <ng-container *ngIf="user">
        <ng-container *ngIf="user === 0">
          <!-- Admin Block -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="/admin/home">Admin Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="user === 1">
          <!-- Retailer Block -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="/retailer/form">Retailer
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/retailer/alerts">Alerts!
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="user === 2">
          <!-- Customer Block -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="/orders">My Orders
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <button class="btn btn-link navbar-btn btn-default navbar-text" *ngIf="user; else elseBlock" (click)="logout()">Log Out: {{user.username}}</button>
    <ng-template #elseBlock>
      <button class="btn btn-link navbar-btn btn-default navbar-text" (click)="login()">Log In</button>
    </ng-template>
    <app-search></app-search>
  </div>
</nav>
