<div class="full-color" [style.background-color]="setColor()" [style.color]="textColor()">
        <div id="route" (click)="routeBack()"><<</div>
            <br>
            <div id="item-display">
            <div class="left-side">
                <img src="{{invItem.imageUrl}}" class="big-wine-img">
            </div>
            <div class="right-side">
                <br>
                <br> {{invItem.name}}
                <br> {{invItem.brand.name}}
                <br> {{invItem.country.name}}
                <br> {{invItem.subType.type.name}}
                <br> {{invItem.subType.name}}
                <br> {{invItem.year}}
                <br> {{invItem.description}}
                <br> {{invItem.volume}} L
                <br> {{invItem.price | currency}}
                <br> {{invItem.quantity}} available
                <br><br>
                <input [(ngModel)]="num" id="add-num" class="to-cart" type="number" max="{{invItem.quantity}}" min=1 value=1>
                <span class="add" (click)="addToCart()">Add to cart</span>
            </div>
            </div>
</div>