.left-side {
    float: left;
    width: 50%;
}

.right-side {
    float: right;
    text-align: left;
    width: 50%;
}

.big-wine-img {
    width: 40%;
    height: auto;
    margin: 25px 35px 0px 50%;
    border: 1px solid black;
}

.full-color {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 110%;
}

#route {
    font-size: 30px;
}

.add-to-cart {
    margin: 0 auto;
}

#item-display {
    height: 400px;
}
