<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configure our database -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@oracle:thin:@hasanaindb.cjmjogqkyztd.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">HibernateUser</property>
		<property name="hibernate.connection.password">P4SSW0RD</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- Hibernate Specific properties -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Tell hibernate that we are mapping classes to objects -->
		<!-- XML -->
		<!-- <mapping resource="HoneyPot.hbm.xml"/> -->
		
		<!-- Annotations! -->
		<mapping class="com.revature.americaonwine.beans.User"></mapping>
		<mapping class="con.revature.americaonwine.beans.InventoryItem"></mapping>
		
	</session-factory>
</hibernate-configuration>