<div class="container" id="inv-form">
  <span id="big-text">Please enter the details for the wine:</span>
  <br><br>
  <div class="input-group mb-3 small-bars">
    <div class="input-group-prepend">
      <span class="input-group-text red-wine inv-form-prepend">Name</span>
    </div>
    <input name="name" placeholder="What is the name of this product?" type="text" class="form-control" required aria-label="Name" aria-describedby="basic-addon1" [(ngModel)]="invItem.name">
  </div>
  <div class="input-group mb-3 small-bars">
    <div class="input-group-prepend">
      <span class="input-group-text red-wine inv-form-prepend">Type of wine</span>
    </div>
    <select (change)="resetType()" name="type" class="form-control" required aria-label="Type" aria-describedby="basic-addon1" [(ngModel)]="invItem.type">
      <option value="def" *ngIf="invItem.type == 'def'">What type of wine is this?</option>
      <option value="Red">Red</option>
      <option value="White">White</option>
      <option value="Rosé">Rosé</option>
      <option value="Champagne">Champagne</option>
    </select>
    </div>
    <div *ngIf="invItem.type != 'def'"class="input-group mb-3 small-bars">
      <div class="input-group-prepend">
        <span class="input-group-text red-wine inv-form-prepend">Specific Type</span>
      </div>
      <select name="subType" class="form-control" required aria-label="SubType" aria-describedby="basic-addon1" [(ngModel)]="invItem.subType">
        <option value="def" *ngIf="invItem.subType == 'def'">What specific type of wine is this?</option>
        <option *ngIf="invItem.type == 'White'" value="Chardonnay">Chardonnay</option>
        <option *ngIf="invItem.type == 'White'" value="Sauvignon Blanc">Sauvignon Blanc</option>
        <option *ngIf="invItem.type == 'White'" value="Semillon">Semillon</option>
        <option *ngIf="invItem.type == 'White'" value="Riesling">Riesling</option>
        <option *ngIf="invItem.type == 'White'" value="Moscato">Moscato</option>
        <option *ngIf="invItem.type == 'White'" value="Gewürztraminer">Gewürztraminer</option>
        <option *ngIf="invItem.type == 'White'" value="Pinot Grigio">Pinot Grigio</option>
        <option *ngIf="invItem.type == 'Red'" value="Syrah">Syrah</option>
        <option *ngIf="invItem.type == 'Red'" value="Merlot">Merlot</option>
        <option *ngIf="invItem.type == 'Red'" value="Cabernet Sauvignon">Cabernet Sauvignon</option>
        <option *ngIf="invItem.type == 'Red'" value="Malbec">Malbec</option>
        <option *ngIf="invItem.type == 'Red'" value="Pinot Noir">Pinot Noir</option>
        <option *ngIf="invItem.type == 'Red'" value="Zinfandel">Zinfandel</option>
        <option *ngIf="invItem.type == 'Red'" value="Sangiovese">Sangiovese</option>
        <option *ngIf="invItem.type == 'Red'" value="Barbera">Barbera</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Syrah Rosé">Syrah Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Grenache Rosé">Grenache Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Cabernet Sauvignon Rosé">Cabernet Sauvignon Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Tempranillo Rosé">Tempranillo Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Provence Rosé">Provence Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Zinfandel Rosé">Zinfandel Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Sangiovese Rosé">Sangiovese Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Tavel Rosé">Tavel Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Pinot Noir Rosé">Pinot Noir Rosé</option>
        <option *ngIf="invItem.type == 'Rosé'" value="Mourvèdre Rosé">Mourvèdre Rosé</option>
        <option *ngIf="invItem.type == 'Champagne'" value="Blanc de Blancs">Blanc de Blancs</option>
        <option *ngIf="invItem.type == 'Champagne'" value="Blanc de Noirs">Blance de Noirs</option>
        <option *ngIf="invItem.type == 'Champagne'" value="Brut">Brut</option>
        <option *ngIf="invItem.type == 'Champagne'" value="Demi-sec">Demi-Sec</option>
        <option *ngIf="invItem.type == 'Champagne'" value="Extra-dry">Extra-Dry</option>
        <option *ngIf="invItem.type == 'Champagne'" value="Rosé-champagne">Rosé Champagne</option>
      </select>
      </div>
    <div class="input-group mb-3 small-bars">
      <div class="input-group-prepend">
        <span class="input-group-text red-wine inv-form-prepend">Wine Age</span>
      </div>
      <input name="year" max="2020" min="1800" placeholder="What year was this wine grown?" type="number" class="form-control" required aria-label="Year" aria-describedby="basic-addon1" [(ngModel)]="invItem.year">
    </div>
  <div class="input-group mb-3 small-bars">
    <div class="input-group-prepend">
      <span class="input-group-text red-wine inv-form-prepend">Country of Origin</span>
    </div>
    <select name="country" class="form-control" required aria-label="Country" aria-describedby="basic-addon1" [(ngModel)]="invItem.country">
      <option value="def" *ngIf="invItem.country == 'def'">What country does this wine come from?</option>
      <option value="italy">Italy</option>
      <option value="us">The United States</option>
      <option value="france">France</option>
      <option value="china">China</option>
      <option value="spain">Spain</option>
      <option value="argentina">Argentina</option>
      <option value="chile">Chile</option>
      <option value="sa">South Africa</option>
      <option value="australia">Australia</option>
      <option value="germany">Germany</option>
      <option value="portugal">Portugal</option>
      <option value="romania">Romania</option>
      <option value="japan">Japan</option>
      <option value="other">Other</option>
    </select>
    </div>
      <div class="input-group mb-3 small-bars">
        <div class="input-group-prepend">
          <span class="input-group-text red-wine inv-form-prepend">Image</span>
        </div>
        <input id="img-input" name="image" placeholder="What does this product look like?" type="file" accept=".jpg,.png" class="form-control" required aria-label="Image" aria-describedby="basic-addon1" [(ngModel)]="invItem.image">
      </div>

      <button (click)="addWine()" type="button" class="full-button red-wine btn">Submit New Inventory Item</button>
      <br>
      <br>
</div>
