#inv-form {
    background-color: #dddddd;
    color: #ffffff;
}

#big-text {
    font-size: 28px;
}

.small-bars {
    width: 65%;
    margin: 0 auto;
}

.full-button {
    width: 65%;
    margin: 0 auto;
    border-color: #E1C5F2;
}

.inv-form-prepend {
    width: 150px;
    text-align: right;
}

.red-wine {
    background-color: #B87690;
    color: #ffffff;
}

.container {
    padding: 20px; 
    border-radius: 20px;
    text-align: center;
}

.def {
    display: none;
}