#inv-form {
    position: relative;
    top: -85px;
    background-color: #dddddd;
    color: #ffffff;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    -ms-transform: scale(.75);
    -o-transform: scale(.75);
    transform: scale(.75);
    -webkit-transition: 0s ease-in-out;
    -moz-transition: 0s ease-in-out;
    -o-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
}

#big-text {
    font-size: 28px;
}

.input-group {
    font-size: 10px;
    height: 43px;
}

select {
    height: 43px !important;
}

.small-bars {
    width: 65%;
    margin: 0 auto;
}

.full-button {
    width: 65%;
    margin: 0 auto;
    border-color: #E1C5F2;
}

.inv-form-prepend {
    width: 150px;
    text-align: right;
}

.red-wine {
    background-color: #B87690;
    color: #ffffff;
}

.container {
    padding: 20px; 
    border-radius: 20px;
    text-align: center;
}

.def {
    display: none;
}

.tall-text {
    height: 100px;
    resize: none;
}

#error-text {
    color: red;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}