<div class="container-fluid py-5" id="loginContainer">
  <div class="row justify-content-center">
    <div class="col-5 border border-primary centerContents">
      <div class="row no-gutters centerContents">
        <div class="input-group my-3 col-12 justify-content-center">
          <div class="input-group-prepend">
            <span class="input-group-text">Username</span>
          </div>
          <input class="col-9" type="text" id="usernameInput" #usernameInput name="usernameInput" placeholder="Username">
        </div>

        <div class="input-group my-3 col-12 justify-content-center">
          <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
          </div>
          <input class="col-9" type="password" id="passwordInput" #passwordInput name="passwordInput" placeholder="Password">
        </div>
      </div>
      <div class="row justify-content-center">
        <button (click)="login(usernameInput.value, passwordInput.value)"class="col-4 my-1 btn btn-primary" id="submitButton" type="button">Login</button>
        <button (click)="register()" class="col-4 my-1 offset-md-1 btn btn-outline-primary" id="registerButton" type="button">Register</button>
      </div>
      <br>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-5 alert alert-danger" id="loginFailedAlert" role="alert" *ngIf="loginFailed">
          Error: Invalid Credentials
      </div>
  </div>
</div>

