<div class="container-fluid" id="loginContainer">
  <div class="row justify-content-center">
    <div class="col-5 border border-primary centerContents">
      <form method="post" action="login">
        <input class="col-9 my-1 mx-2" type="text" id="usernameInput" name="usernameInput" placeholder="Username"><br>
        <input class="col-9 my-1" type="password" id="passwordInput" name="passwordInput" placeholder="Password"><br>
        <button class="col-4 my-1 btn btn-primary" id="submitButton" type="button">Login</button>
        <button class="col-4 my-1 offset-md-1 btn btn-outline-primary" id="registerButton" type="button">Register</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-5 alert alert-danger invisible" id="loginFailedAlert" role="alert">
          Error: Invalid Credentials
      </div>
  </div>
</div>

