<p>
  admin-approve-inv works!
</p>
<form action="inventory/approval"required>
  <div *ngFor="let a of allInvApprovalItem">
    <div class="item">
      Name: {{a.name}}<br>
      Brand: {{a.brand.name}}<br>
      User ID: {{a.userId}}<br>
      Country: {{a.country.name}}<br>
      Subtype: {{a.subType.name}}<br>
      Year: {{a.year}}<br>
      Status: {{a.status}}<br>
      Description: {{a.description}}<br>
      Volume: {{a.volume}} L<br>
      Price: ${{a.price}}<br>
      Quantity: {{a.quantity}} available<br>
    </div>
    <div>
      <button method="put" (click)="approve(a)">Approve</button>
      <button (click)="deny(a)">Deny</button>
    </div>
  </div>
</form>
<div *ngIf="visible"> No Request at this time</div>




