<br>
<ng-container *ngIf="results.length > 0; else elseBlock">
  <table class="table table-striped table-hover table-condensed table-bordered">
    <tr>
      <td></td>
      <td>Name</td>
      <td>Brand</td>
      <td>Category</td>
      <td>Origin</td>
      <td>Year</td>
      <td>Volume</td>
      <td>Stock</td>
      <td>Price</td>
      <td width=30%>Description</td>
    </tr>
    <tr *ngFor="let i of results">
      <td>
        <img class="img-thumbnail" src={{i.imageUrl}}>
      </td>
      <td nowrap>{{i.name}}</td>
      <td nowrap>{{i.brand?.name}}</td>
      <td nowrap>Class: {{i.subType?.type?.name}}
        <br>Type: {{i.subType?.name}}</td>
      <td nowrap>{{i.country?.name}}</td>
      <td nowrap>{{i.year}}</td>
      <td nowrap>{{i.volume}} L</td>
      <td nowrap>{{i.quantity}}</td>
      <td nowrap>${{i.price}}</td>
      <td>{{i.description}}</td>
    </tr>
  </table>
</ng-container>
<ng-template #elseBlock>
  <div align="center">
    <h1 class="">No Results Found!</h1>
  </div>
</ng-template>
