#cart {
    background-color: #dfecf2;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    right: 20px;
    text-align: right;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    width: 100%;
    font-size: 13px;
}

.cart-item {
    border-bottom: 1px solid #d1d1d1;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#cart:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

div {
    padding: 8px;
}

.mult {
    float: left;
}

.to-cart {
    width: 35%;
    text-align: center;
    float: left;
    position: relative;
    top: 4px;
}